<!-- Header -->
    <section id="header" class="skel-layers-fixed">
        <header>
            <span class="image avatar"><img src="/images/avatar.jpg" alt="" /></span>
            <h1 id="logo"><a href="/">ptolemy</a></h1>
            <p>To call up a demon</br>you must learn its name.</p>
        </header>
        <nav id="nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/blog">Blog</a></li>
            </ul>
        </nav>
        <footer>
            <ul class="icons">
                <li><a href="https://facebook.com/ptolemyb" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="https://www.instagram.com/guacamolay/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="https://www.github.com/ptolemybarnes" class="icon fa-github"><span class="label">Github</span></a></li>
                <li><a href="mailto:ptolemybarnes@gmail.com" class="icon fa-envelope"><span class="label">Email</span></a></li>
            </ul>
        </footer>
    </section>

